.header {
    background-color:lightblue;
    opacity: 1;
    text-align: left;
}
body {
    background-color: white;
    opacity: 1;
    color: black;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
}

h1 {
    background-color:azure;
    opacity: 1;
    margin: 40px, 50px;
    font-weight: bold;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
}

h2 {
    opacity: 1;
    margin-left: 25px;
    margin-right: 70px;
    font-weight: bold;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
}

h3 {
    background-color:azure;
    opacity: 1;
    margin-left: 30px;
    margin-right: 70px;
    font-weight: bold;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

p {
    margin-left: 40px;
    margin-right: 70px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background-color:darkblue;
    opacity: 1;
}

a:link{
    color:blue;
    text-decoration: underline;
}

a:visited{
    color:darkorchid;
    text-decoration: underline;
}

ul.a {
    list-style-type: square;
    list-style-position: outside;
}

ol.a {
    list-style-type: lower-roman;
    list-style-position: outside;
}

table, th, td {
    border: 1px solid black;
    width: 60%;
    border-collapse: collapse;
    height: 70px;
    text-align: left;
    padding: 15px;
}

/* NAV BAR */
.navbar {
    background-color: lightgoldenrodyellow;
    color: black;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar li {
    float: left;
    border-right: 1px solid #bbb;
}

.navbar a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    position: fixed;
    top: 0;
}

.navbar a:hover {
    background-color:goldenrod;
}

.navbar .active {
    background-color:goldenrod;
}

/* END NAV BAR */

centered-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.footer {
    background-color:lightgoldenrodyellow;
    text-align: left;
    padding: 10px;
    margin: 40px, 50px;
    font-weight: bold;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;

}

/* *** CONTENT FOR BODY OF SITE *** */

#widetwocorners1 {
    border-radius: 15px 60px;
    padding: 20px;
    width: 900px;
    height: 250px;
    background-color: azure;
    color: black;
}

#widetwocorners2 {
    border-radius: 60px 15px;
    padding: 20px;
    width: 900px;
    height: 250px;
    background-color: azure;
    color: black;
}

#widefourcorners {
    border-radius: 60px;
    padding: 20px;
    width: 700px;
    height: 250px;
    background-color: azure;
    color: black;
}

/* To fix the nav bar to top: 
    position: fixed;
    top: 0;
    width: 100%; */