.header {
    background-color:white;
    opacity: 1;
    text-align: left;
    display: flex;
    height: 200px;
}

.header-img {
    width: 100%;
    height: 56.2%;
    background-image: url("images/milkyway.jpg");
    background-size: cover;

}

h5 {
    font-size: 80px;
    margin: 10px 0 30px;
}

.header span {
	align-self: flex-end;
}

body {
    background-color: white;
    opacity: 1;
    color: black;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
}

div {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    background-color:white;
    opacity: 1;
    margin: 40px, 50px;
    font-weight: bold;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
}

h2 {
    opacity: 1;
    margin: 40px, 50px;
    font-weight: bold;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
}

h3 {
    background-color:white;
    opacity: 1;
    margin: 40px, 50px;
    font-weight: bold;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

p {
    margin-left: 40px;
    margin-right: 70px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

p.abme {
    padding-right: 30%;
    font-size: 20px;
}

button {
    color: skyblue;
    padding: 10px 25px;
    font-size: 20px;
    background: transparent;
    border: 1px solid #000;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    margin: auto;
}


a:link{
    color:black;
    text-decoration: underline;
}

a:visited{
    color:darkorchid;
    text-decoration: underline;
}

ul.a {
    list-style-type: square;
    list-style-position: outside;
}

ul.a li {
    font-size: 20px;
}

ol.a {
    list-style-type: lower-roman;
    list-style-position: outside;
}

table, th, td {
    border: 1px solid black;
    width: 60%;
    border-collapse: collapse;
    height: 70px;
    text-align: left;
    padding: 15px;
}
/* TEXT APPEAR DISAPPEAR */
div.fade {
    margin: 50px;
    padding: 50px;
}

/* NAV BAR */
ul.nav {
    background: rgb(205, 205, 205);
    z-index: 1000;
    color: black;
    list-style-type: none;
    opacity: 0.9;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

ul.nav li {
    float: left;
    border-right: 1px solid #bbb;
}

ul.nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

ul.nav li a:hover {
    background-color:rgb(165, 165, 163);
}

/* .navbar .active {
    background-color:goldenrod;
} */

/* END NAV BAR */

centered-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.footer {
    background-color:rgb(205, 205, 205);
    text-align: left;
    padding: 10px;
    margin: 40px, 50px;
    font-weight: bold;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;

}

/* *** CONTENT FOR BODY OF SITE *** */

#widetwocorners1 {
    border-radius: 15px 60px;
    padding: 40px;
    width: 1000px;
    height: 400px;
    background-color: white;
    font-size: 16px;
    color: black;
    margin: auto;
    opacity: 0.9;
}

#widetwocorners2 {
    border-radius: 60px 15px;
    padding: 40px;
    width: 1000px;
    height: 400px;
    background-color: white;
    font-size: 16px;
    color: black;
    margin: auto;
    opacity: 0.9;
}

#widefourcorners {
    border-radius: 60px;
    padding: 20px;
    width: 700px;
    height: 250px;
    background-color: rgb(205, 249, 249);
    border-color: black;
    color: black;
}

/* ANIMATION */

.moving img {
    width: 50px;
    animation: movingitem 9s linear infinite;
}

.moving {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    left: -70px;
}

@keyframes movingitem{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.moving img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}

.moving img:nth-child(2){
    animation-delay: 1s;
    width: 30px;
}

.moving img:nth-child(3){
    animation-delay: 4s;
}

.moving img:nth-child(4){
    animation-delay: 5s;
    width: 35px;
}

.moving img:nth-child(5){
    animation-delay: 2s;
    width: 20px;
}

.moving img:nth-child(5){
    animation-delay: 3s;
    width: 20px;
}

.moving img:nth-child(5){
    animation-delay: 2s;
    width: 20px;
}

/* previous bckgrnd color; rgb(205, 249, 249) */